[build-system]
requires = ["setuptools", "setuptools-scm", "numpy", "wheel", "setuptools-git-versioning<2"]
build-backend = "setuptools.build_meta"

[tool.setuptools-git-versioning]
enabled = true

[project]
name = "uclchem"
# version = "3.2.0"
dynamic = ["version"]
authors = [
{name="Gijs Vermariën", email="vermarien@strw.leidenuniv.nl"},
{name="Marcus Keil"},
{name="Jon Holdship"},
{name="Tomas James"},
{name="Ross O'Donoghue"}
]
maintainers = [
{name="Gijs Vermariën", email="vermarien@strw.leidenuniv.nl"}]
description="A package for the astrochemical modelling of gas-grain chemistries."
readme = "README.md"
requires-python = ">=3.9,<3.12"
license = {text = "MIT License"}
dependencies = [
    "pandas<2", "numpy<2", "pyyaml", "matplotlib", "seaborn", "pytest"
]

