name: Test notebooks

on:
  pull_request:
    branches:
      - main
  workflow_run:
    workflows: ["Lint"]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'pull_request' }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.12"  

    - name: Install gfortran
      run: |
        sudo apt-get -y update
        sudo apt-get -y install gfortran

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest nbmake pytest-xdist jupyter
    
    - name: Install package in editable mode
      run: |
        pip install .

    - name: Test notebooks
      run: |
        pytest -n auto --nbmake --nbmake-timeout=2400 --nbmake-kernel=python3 notebooks


