name: Test install and interface

on:
  pull_request:
    branches:
      - main
      - develop  # Add the 'develop' branch here

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.12"  
        
    - name: Install gfortran
      run: |
        sudo apt-get -y update
        sudo apt-get -y install gfortran

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-xdist
    
    - name: Install package
      run: |
        pip install .

    - name: Run ode conservation test, standard stages run and photo on grains (not enabled by default)
      run: |
        pytest -n 1 tests/{test_photo_on_grain_memory.py,test_photo_on_grain_disk.py}

